# Exemplo de variáveis de ambiente para o projeto Controle Financeiro

# Banco de Dados
DB_USER=seu_usuario_db
DB_PASSWORD=kvb@4sJ2
DB_SERVER=localhost
DB_NAME=ControlFinance
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_CERT=true

# JWT
JWT_SECRET=sua_chave_secreta_jwt_aqui

# API
API_BASE_URL=http://localhost:3000/api

# Frontend
FRONTEND_URL=http://localhost:3000

# Ambiente
NODE_ENV=development